<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="Project_UsersConnectionString" connectionString="Data Source=FMI-532-0\SQLEXPRESS;Database=Project_Users;Persist Security Info=False;User ID=sa;Password=sa;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <!--cookies-->
      <sessionState cookieless="true"
      regenerateExpiredSessionId="true" />
    </system.web>

</configuration>
