<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="connectString" connectionString="Data Source=localhost\MSSQLDATABASES;Initial Catalog=STUDENTS;User ID=sa;Password=sa;Integrated Security=True;" />
    <add name="StudentsDB.Properties.Settings.connectString" connectionString="Data Source=localhost\MSSQLDATABASES;Initial Catalog=STUDENTS;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>