
@{
    ViewBag.Title = "Login |";
}

<div class="wrap">
    <form method="POST" action="/Home/Index" class="login-form">
        <span class="error">@Html.ValidationMessage("fail")</span>
        <fieldset>
            <input type="text" name="username" placeholder="Username" class="input-style" />
        </fieldset>
        <fieldset>
            <input type="password" name="password" placeholder="Password" class="input-style" />
        </fieldset>
        <input type="submit" value="Login" class="form-button" />
        <a href="/Home/Register" style="display: inline-block; line-height: 35px; text-align: center; text-decoration: none;" class="form-button">Register</a>
    </form>
</div>

