/* Styling needed for a fullscreen canvas and no scrollbars. */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial;
}

.wrap {
    margin: 0 auto;
    width: 800px;
}

.login-form {
    margin: 100px auto;
    padding: 20px;
    width: 600px;
}

.login-form fieldset {
    border: none;
}

.login-form .input-style {
    margin-bottom: 10px;
    border: 1px solid #eeeeee;
    padding-left: 20px;
    width: 578px;
    height: 35px;
    background-color: #fafafa;
    color: #000;
    font-size: 18px;
}

.login-form .form-button {
    margin-bottom: 10px;
    border: 1px solid #0094ff;
    width: 600px;
    height: 35px;
    background-color: #0094ff;
    color: #fff;
    font-size: 18px;
    -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.login-form .form-button:hover {
    cursor: pointer;
    box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.1);
}

.login-form .form-button:active {
    cursor: pointer;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
}

.login-form .form-button:focus {
    outline: none;
    box-shadow: inset 0 0 2px #fff;
}

.login-form .error{
    font-size: 18px;
    color: #ffd800;
}

.hello-message {
    float: right;
    color: #fff;
    font-size: 16px;
}

.hello-message .logout-link {
    font-size: 13px;
}

.admin-message {
    float: left;
    color: #fff;
    font-size: 16px;
}

.header-one {
    margin: 0;
    padding: 50px 0;
    color: #ffd800;
    text-align: center;
    font-size: 60px;
}

.menu {
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
}

.menu li{
    margin: 40px;
    list-style: none;
}

    .menu li a {
        font-weight: bold;
        font-size: 50px;
    }

    .menu .score {
        padding: 30px;
        color: #b6ff00;
    }

#starfield {
    width:100%;
    height:100%;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
}

#gamecontainer {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#gamecanvas {
    width: 800px;
    height: 600px;
}

#muteLink {
    margin-top: 10px;
    float: left;
    color: #b6ff00;
    cursor: pointer;
}

#info {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
    width: 800px;
    color: #fff;
    font-size: 17px;
    zoom: 1;
}

#info::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#info .nav {
    padding-top: 10px;
    float: left;
}

#info .nav li {
    margin-right: 20px;
    float: left;
    list-style: none;
}

#info .nav a {
    background-color: rgba(255, 255, 255, 0.15);
}

#info .nav a:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
