<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Space Invaders</title>
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/Content/core.css" />
    <link rel="stylesheet" type="text/css" href="/Content/typeography.css" />
    <link rel="stylesheet" type="text/css" href="/Content/style.css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
<body>
    <div id="info">
        <ul class="nav">
            <li style="color: rgb(255, 0, 64); font-weight: bold;">Credit to Dave Kerr</li>
            <li><a href="http://www.codeproject.com/Articles/642499/Learn-JavaScript-Part-1-Create-a-Starfield">Tutorial</a></li>
            <li><a href="https://github.com/dwmkerr/spaceinvaders">Original game on Git</a></li>
        </ul>
    </div>
    <script src="/Scripts/starfield.js"></script>
    <script>

        // Set up html elements
        $('body').append('<div id="starfield"></div>');

        //  Create the starfield.
        var container = $('#starfield')[0];
        var starfield = new Starfield();
        starfield.initialise(container);
        starfield.start();
    </script>
    @RenderBody()
</body>
</html>
