body {
    margin-left:50px;
    background-color:#ddaad7;
}
div {
    width:200px;
    height:auto;
}
.title {
    font-size:50px;
    font-style:italic;
    font-weight:900;
    color:#2e0e69;
    width:300px;
}
.texts {
    margin:2px;
    float:left;
    overflow:hidden;
}
.labels {
    font-weight:bold;
    float:left;
    overflow:hidden;
    margin:5px;
}
.buttonlogin {
    border:2px outset #2e0e69;
    background-color: #2e0e69;
    color:white;
    padding:5px;
    margin-top:20px;
    font-size:20px;
    float:left;
    overflow:hidden;
    text-decoration:none;
}
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}