<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_1301681006_2010.Properties.Settings.userdbConnectionString"
            connectionString="Data Source=|DataDirectory|\userdb.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>