<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="myConn"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=C:\Users\Dimeto\Source\Repos\fmiedd\1301681006_dimitria_gadzheva\1301681006_2010\1301681006_2010\data\data.sdf;" />
  </connectionStrings>
</configuration>